# ================================
# OS
# ================================
.DS_Store
Thumbs.db
Desktop.ini

# ================================
# IDEs & EDITORS
# ================================
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.user
*.swp
*.swo
*~

# ================================
# MISC
# ================================
*.log
*.tmp
*.bak
